@if(showMain){
<div class="p-30">
  <div class="absolute left-0 top-3 text-3xl" (click)="toggleMain()"><-</div>
  <div class="flex items-center justify-center flex-col">
    <div class="flex flex-col text-center">
      <h1 class="text-5xl font-extrabold">Get started</h1>
      <h2 class="text-lg mt-5">
        By tapping Register or Continue, you agree to our Terms. Learn how we
        process your data in our Privacy Policy and Cookie Policy
      </h2>
    </div>
    <div class="flex flex-col space-y-5 pt-50">
      <app-button
        text="Register in with Google"
        [color]="false"
        (click)="test()"
      ></app-button>
      <app-button text="Register In with Facebook" [color]="true"></app-button>
      <app-button
        text="Register in with Email"
        [color]="true"
        (click)="togglePhone()"
      ></app-button>
    </div>
  </div>
</div>
} @if(showPhone){
<div class="flex items-center justify-center flex-col p-10">
  <div class="absolute left-0 top-3 text-3xl" (click)="togglePhone()"><-</div>
  <div class="flex flex-col items-center justify-center">
    <div>
      <h1 class="text-3xl font-extrabold">Can we get your Email?</h1>
    </div>
    <div class="mt-5">
      <input
        type="text"
        name="email"
        id="email"
        class="border border-solid w-full p-2"
        [(ngModel)]="email"
      />
      <small>This field must be an valid email </small>
    </div>
    <div class="mt-20">
      <app-button
        text="Next"
        [color]="false"
        (click)="togglePassword()"
      ></app-button>
    </div>
  </div>
</div>
} @if(showPassword){
<div class="flex items-center justify-center flex-col p-10">
  <div class="absolute left-0 top-3 text-3xl" (click)="togglePassword()">
    <-
  </div>
  <div class="flex flex-col items-center justify-center">
    <div>
      <h1 class="text-3xl font-extrabold">Enter a password?</h1>
    </div>
    <div class="mt-5">
      <input
        type="password"
        name="password"
        id="password"
        class="border border-solid w-full p-2"
        [(ngModel)]="password"
      />
      <small>This field must be an valid password</small>
    </div>
    <div class="mt-20">
      <app-button
        text="Next"
        [color]="false"
        (click)="toggleName()"
      ></app-button>
    </div>
  </div>
</div>
} @if(showName){
<div class="flex items-center justify-center flex-col p-10">
  <div class="absolute left-0 top-3 text-3xl" (click)="toggleName()"><-</div>
  <div class="flex flex-col items-center justify-center">
    <div>
      <h1 class="text-3xl font-extrabold">What's your name?</h1>
    </div>
    <div class="mt-5">
      <input
        type="text"
        name="name"
        id="name"
        [(ngModel)]="name"
        class="border border-solid w-full p-2"
      />
      <small>This field must containt between 1 and 20 characters</small>
    </div>
    <div class="mt-20">
      <app-button
        text="Next"
        [color]="false"
        (click)="toggleBirth()"
      ></app-button>
    </div>
  </div>
</div>
} @if(showBirth){
<div class="flex items-center justify-center p-10">
  <div class="absolute left-0 top-3 text-3xl" (click)="toggleBirth()"><-</div>
  <div class="flex flex-col items-center justify-center">
    <div>
      <h1 class="text-3xl font-extrabold">Your b-day?</h1>
    </div>
    <div class="mt-5">
      <div class="flex space-x-3">
        <input
          type="number"
          name="birth1"
          id="birth1"
          [(ngModel)]="birth1"
          class="border border-solid w-full p-2 text-center"
        />
        <input
          type="number"
          name="birth2"
          id="birth2"
          [(ngModel)]="birth2"
          class="border border-solid w-full p-2 text-center"
        />
        <input
          type="number"
          name="birth3"
          id="birth3"
          [(ngModel)]="birth3"
          class="border border-solid w-full p-2 text-center"
        />
      </div>
      <small>Your profile shows your age, not your date of birth</small>
    </div>
    <div class="mt-20">
      <app-button
        text="Next"
        [color]="false"
        (click)="toggleGender()"
      ></app-button>
    </div>
  </div>
</div>
} @if(showGender){
<div class="flex items-center justify-center p-10">
  <div class="absolute left-0 top-3 text-3xl" (click)="toggleGender()"><-</div>
  <div class="flex flex-col items-center justify-center">
    <div>
      <h1 class="text-3xl font-extrabold">What's your gender?</h1>
    </div>
    <div class="mt-5 flex gap-4">
      <div
        class="flex-1 p-3 border border-solid rounded-lg text-center cursor-pointer transition-colors"
        [ngClass]="{
          'bg-red-500 text-white border-red-500': selectedGender() === 'Male',
          'bg-gray-100 text-gray-800 border-gray-300':
            selectedGender() !== 'Male'
        }"
        (click)="selectGender('Male')"
      >
        Male
      </div>
      <div
        class="flex-1 p-3 border border-solid rounded-lg text-center cursor-pointer transition-colors"
        [ngClass]="{
          'bg-red-500 text-white border-red-500': selectedGender() === 'Female',
          'bg-gray-100 text-gray-800 border-gray-300':
            selectedGender() !== 'Female'
        }"
        (click)="selectGender('Female')"
      >
        Female
      </div>
    </div>
    <div class="mt-2">
      <small class="text-gray-500">Please select one option</small>
    </div>
    <div class="mt-20">
      <app-button
        text="Next"
        [color]="false"
        (click)="toggleGender()"
      ></app-button>
    </div>
  </div>
</div>
} @if(showSexualOrientation){
<div class="flex items-center justify-center">
  <div class="absolute left-0 top-3 text-3xl" (click)="toggleGender()"><-</div>
  <div class="flex flex-col">
    <div>
      <h1 class="text-3xl font-extrabold">Your sexual orientation?</h1>
    </div>
    <div class="mt-5 flex flex-col gap-3">
      <label
        *ngFor="let orientation of orientations"
        class="flex items-center p-3 border border-solid rounded-lg cursor-pointer bg-gray-100 hover:bg-gray-200 transition-colors"
      >
        <input
          type="checkbox"
          [value]="orientation"
          [(ngModel)]="selectedOrientations[orientation]"
          class="mr-2 accent-blue-500"
        />
        {{ orientation }}
      </label>
    </div>
    <div class="mt-2">
      <small class="text-gray-500">Select all that apply</small>
    </div>
    <div class="mt-20">
      <app-button
        text="Next"
        [color]="false"
        (click)="seeInputs()"
      ></app-button>
    </div>
  </div>
</div>
}
